@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 58px;
  background: rgb(28, 116, 233);
  background: linear-gradient(
    90deg,
    rgba(28, 116, 233, 1) 0%,
    rgba(101, 162, 244, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
header > .header-wrap {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
}
header > .header-wrap > a {
  color: white;
  font-size: 24px;
  /* font-weight: bold; */
}
header > .header-wrap > button {
  padding-right: 14px;
  color: white;
}

main {
  background: #f5f5f5;
}
.make-layout {
  width: 600px;
  margin: 0 auto;
}
.site-layout {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 899px) {
  .site-layout {
    width: 100%;
  }
}

.ant-radio-group {
  width: 100%;
}
.ant-btn-primary {
  background-color: #0088ff !important;
}
.test-subtitle {
  font-size: 18px;
  color: rgba(28, 116, 233, 1);
  font-weight: bold;
}

/* start - test */
.test-main-background {
  background: transparent;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(1, 1, 1, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(1, 1, 1, 1), rgba(0, 0, 0, 0));
}
.test-main {
  background: transparent;
  position: relative;
}
.test-main > .ant-layout {
  background: transparent;
}
.test-layout {
  width: 600px;
  margin: 0 auto;
}
.test-logo {
  margin-top: 40px;
}
.test-logo > h1 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
}
.test-logo > p {
  margin: 0 auto;
  text-align: center;
  width: 336px;
  font-size: 16px;
  color: rgb(68, 63, 63);
}
.test-logo > .name-input {
  width: 336px;
  margin: 0 auto;
  padding: 10px 0;
}
.btn-start {
  width: 336px;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
}
.test-play-img {
  width: 100%;
  padding-top: 20px;
}

.test-play-title {
  font-weight: bold;
  padding: 10px;
  padding-left: 14px;
  font-size: 14px;
}
.test-play-radio {
  padding: 4px 10px;
  margin-inline-end: 0px;
}
.ant-space,
.ant-space-item {
  width: 100%;
}
.ant-space-item > label {
  width: 100%;
}
.test-result-text {
  padding: 10px;
  font-size: 18px;
  line-height: 1.63;
}

.plus-add {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}
.btn-kakao-plus {
  width: 100%;
  background-color: #fae100;
  color: #3a1d1d;
  border: 1px solid #f0da1c;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-kakao-plus:hover {
  color: #332121 !important;
  background-color: #f1da0b !important;
  border: 1px solid #f0da1c !important;
}
.btn-kakao-plus img {
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  header {
    width: 100%;
  }
  header > .header-wrap {
    padding-left: 10px;
  }
  .test-logo {
    margin-top: 0px;
  }
  .test-logo > h1 {
    padding-top: 20px;
  }
  .test-layout {
    width: 100%;
  }
  .test-play-img {
    padding-top: 0;
  }
}
